body{
    background-color:antiquewhite;
}

.content{
 display: flex;
    
}


.content .left-side{
    position: relative;
    width: 400px;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;      
}


.content .left-side img{
    width: 100%;
    height: 600px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.content .left-side h4{
    position: absolute;
    z-index: 2;
    top: 490px;
    left: 30px;
    color: white;   
}

.content .left-side span{
    position: absolute;
    z-index: 2;
    top: 525px;
    left: 30px;
    color: white;   
}


.content .right-side{
    position: relative;
    left:75px;
    background-color: white;
    margin-top: 100px;
    width: 700px;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content .right-side .details{
    position: absolute !important;
    top: 100px !important;
    left: 200px !important;
}

.content .right-side .details h4{
    text-align: center;
    color: rgb(4, 97, 227);
}


.content .right-side .details input{
    width: 350px;
}

.content .right-side .password-details{
    position: absolute !important;
    top: 230px !important;
    left: 200px !important;
}

.content .right-side .password-details input{
    width: 350px;
}


.content .right-side .password-details a{
    color: dodgerblue;
}


.content .right-side .login{
    position: absolute;
    top: 350px;
    left: 200px;
}

.content .right-side .login button{
    width: 350px;
}

.content .right-side .signup{
    position: absolute;
    top: 385px; 
    left: 270px;   
}

.content .right-side .or{
    position: absolute;
    top: 430px; 
    left: 350px; 
}

.content .right-side .or button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    
}


.content .right-side .socials{
    display: flex;  
    margin-left: 180px;  
    
}

.content .right-side .socials button{
    margin-top: 530px;
    width: 170px;
    margin-left: 20px;
}

.content .right-side .socials .facebook button{
    background-color: darkblue;
}

.content .right-side .socials .google button{
    background-color:crimson;
    border-color: crimson;
}